.Signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Signup_img {
    width: 300px; /* Ajusta el tamaño de la imagen según sea necesario */
  }
  
  .Form_titulo {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .FormContainer_info {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  
  .Form_field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .Form_submit {
    width: 100%;
    padding: 10px;
    background-color: #0095f6; /* Color azul de Instagram */
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .Form_submit:hover {
    background-color: #0077c2; /* Cambia el color al pasar el mouse */
  }
  

  