/* Estilo general para la página de inicio */
.homepage-container {
  max-width: 800px; /* Aumenta el ancho principal */
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Coloca el contenido principal entre las barras laterales */
  gap: 1px; /* Agrega una delgada línea de separación entre barras laterales y contenido */
}


/* Estilo para las publicaciones */
.post {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 100%; /* Asegura que las publicaciones ocupen todo el ancho disponible */
}

@media (max-width: 768px) {
  .homepage-container {
    max-width: 95%; /* Ajusta el ancho para pantallas más pequeñas */
    flex-direction: column; /* Apila barras laterales y contenido en pantallas pequeñas */
  }
  
  .post {
    width: 100%; /* Asegura que las publicaciones ocupen todo el ancho en pantallas pequeñas */
  }
}

/* Estilos para pantallas aún más pequeñas (ejemplo: smartphones) */
@media (max-width: 480px) {
  .homepage-container {
    max-width: 100%; /* Ocupa el ancho completo en pantallas muy pequeñas */
  }
}