/* mainStyles.css */
.main-container {
  display: flex;
  background-color: var(--background-light);
  padding: 20px;
  justify-content: center; /* Centra el contenido horizontalmente */
  transition: background-color 0.3s, color 0.3s;
  flex-wrap: wrap; /* Manejar contenido responsivo */
}

/* Estilos para pantallas más pequeñas (ejemplo: tablets) */
@media (max-width: 768px) {
  padding: 10px;
}

/* Estilos para pantallas aún más pequeñas (ejemplo: smartphones) */
@media (max-width: 480px) {
  padding: 5px;
}
